{% extends "base.html.twig" %}

{% block title %}Modifier le manuscrit{% endblock %}
{% block content %}
<p>&larr;&nbsp;<a href="/index.php">Retourner à la liste</a></p>
<form action="/edit.php?id={{ document.objectid }}" method="post">
    <label for="titre">Titre :</label>
    <input type="text" id="titre" name="titre" value="{{ document.titre }}" size="100" required>

    <label for="auteur">Auteur :</label>
    <input type="text" id="auteur" name="auteur" value="{{ document.auteur }}" size="50">

    <label for="cote">Cote :</label>
    <input type="text" id="cote" name="cote" value="{{ document.cote }}" size="20">

    <label for="siecle">Siècle :</label>
    <input type="number" id="siecle" name="siecle" value="{{ document.siecle }}">

    <button type="submit">Modifier</button>
</form>
{% endblock %}
